form:
    - samplesheet
    - run_name
    - af_method
    - prot_mode
    - email

cluster: "katana"

attributes:
    samplesheet:
        widget: "text_field"
        pattern: "*.csv^"
        placeholder: "path/to/file(s) or sequence 'NLYIQWLKDGGPSSGRPPPS'"
        required: true
        help: |
            <h4>Acceptable inputs</h4>
            <ul>
                <i>
                Note: Provided file path and name cannot contain spaces! Only alphanumeric characters and underscores are supported.<br>
                </i>
                <li>
                    <b>Directory containing Fasta files:</b>
                    <code>/srv/scratch/z3141592/my_experiment</code>
                </li>
                <li>
                    <b>Amino acid sequence:</b>
                    <code>NLYIQWLKDGGPSSGRPPPS</code>
                </li>
            </ul>
    run_name:
        widget: "text_field"
        label: "Run Name"
        placeholder: "Enter your run name"

    af_method:
        widget: "select"
        label: "Method"
        help: |
            <ul>
                <li><b>AlphaFold2.3</b> High Accuracy, Slower</li>
                <li><b>ESMFold</b> Medium/Low Accuracy, Fastest (No Evolutionary Sequence Calculations)</li>
                <li><b>RoseTTAFold-All-Atom</b> High Accuracy, Slower</li>
                <li><b>HelixFold3</b> High Accuracy, Slower</li>
            </ul>
        options:
            - ["Alphafold2", "af2", data-hide-mode: false]
            - ["ESMFold", "esmf", data-hide-mode: true]
            - ["RoseTTAFold-All-Atom", "rfaa", data-hide-mode: true]
            - ["HelixFold3", "hf3", data-hide-mode: true]

    prot_mode:
        widget: "select"
        label: "Mode"
        options:
            - ["Multimer", "multimer"]
            - ["Monomer", "monomer"]

    email:
        widget: "text_field"
        label: "Email Address"
        placeholder: "Enter your email (optional)"
